/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01/04/2020, 15:02:13
    Author     : Ochaus
*/

.posicao{
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    align-items: center;
    padding-top: 50px;
}

.buttonCad{
    margin-top: 8px; 
    position: relative; 
    float: left; 
    margin-right: 5px;
}
.buttonBack{
    margin-top: 8px; 
    position: relative; 
    float: left;
}

button{
    width: 100px;
}